
 header,body,footer,a{
    color: white;
}
h1{
    font-size: 7ex;    
}
body {
    background-image: url("image/flashy.jpg");
    background-size: cover;
}
h1{
    margin-bottom: 75px;
}
header>section{
    margin-bottom: 10px;
}

body section+section{
margin-bottom: 100px;
}
.btn_t {
    background-color: mediumpurple; 
    border-color: lightskyblue;
    padding: 8px 20px;
   
}
.btn_m {   
    background-color: rgb(130, 80, 180);
    border-color: lightskyblue;
    padding: 8px 20px;   
}
.btn_b {
    background-color: darkslateblue;
    border-color:  lightskyblue;
    padding: 8px 20px;
    
}
#card_box{
color: purple;
border: 2px outset lightskyblue;
margin-bottom: 20px;
}
