
@import "https://fonts.googleapis.com/css?family=Courgette"; 
 
header,body,footer,a{
    color: white;
}
h1{
    font-size: 8ex;  
    font-family: courgette;
    margin-bottom: 65px;
}
body {
    background-image: url("image/flashy.jpg");
    background-size: cover;
}
header>section{
    margin-bottom: 20px;
}
body section+section{
margin-bottom: 100px;
}
ul{
    list-style-type: none;
}

.btn_t {
    background-color: mediumpurple; 
    border-color: lightskyblue;
    padding: 8px 20px;
   
}
.btn_m {   
    background-color: rgb(130, 80, 180);
    border-color: lightskyblue;
    padding: 8px 20px;   
}
.btn_b {
    background-color: darkslateblue;
    border-color:  lightskyblue;
    padding: 8px 20px;    
}
#card_box{
color: purple;
border: 3px outset lightskyblue;
margin-bottom: 4px;
font-size: 16pt;
max-width: 100%;
}
#action{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
